body {
    font-family: Arial, Helvetica, sans-serif;
}
.kwissenschafttitel {
    color: rgb(221, 185, 25);
    font-size: 50px;
    text-align: center;
}
.themen {
     font-size: 30px;
    text-align: center;
}
html {
    background-color: rgb(180, 236, 236);
}
div.content {
    margin-left: 30%;
    width: 40%;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 800px) {
    div.content {
        margin-left: 10%;
        width: 80%;
    }
}